<header>
    <p>Mi sitio</p>
    <nav>
        <ul>
            <li>
                <a href="/peliculas/crear">Crear Pelicula</a>
            </li>
            <li>
                <a href="/peliculas/lista"> Ver Peliculas</a>
            </li>
        </ul>
    </nav>
</header>